{{> message}}
<div class="mb-4">
  <input type ="button" onclick="location.href='/login'" value="Log in"></input>
</div>
<div class="mb-4">
  <input type ="button" onclick="location.href='/register'" value="Register"></input>
</div>
