{{> message}}
<form action="/todos" method="post"> <!--使用 post 方法，並導使用者輸入的資料傳遞至Todos頁面-->
  <input type="text" placeholder="please input name" name="inputName" id="" required> <!--加入 required 來避免使用者跳過輸入-->
  <input type="submit" value="Create"></input>
</form>
<p></p>
<input type ="button" onclick="history.back()" value="Previous Page"></input>