<input type ="button" onclick="location.href='/todos/new'" value="Create New Task"></input>
<p></p>
<ol class="list-group list-group-numbered">
    {{#each todos}}
      <li class="list-group-item d-flex rounded-0">
        <div class="ms-2 me-auto item">
          {{this.name}}
        </div>
      </li>
    {{/each}}
</ol>